.header{
width: 100vw;
    height: 100vh;
    position: relative;
    left:0 !important;
    top:0;
    padding: 30px 0;
    color:white;
    text-align: left;

}
.container{
    width: 93vw;
    margin: 0 auto;
}
.header-text{
    margin-left: 170px;
    margin-top: 60px;
}
.opacity4{
    opacity: .7;
    font-size: 13px;
}
.title{
    margin-top: 50px;
    font-size: 5vmin;
}
.hugeText{
    font-size: 13vmin;


}
.sec-main{
    margin-left: 300px;
}
.btnDown{
    position: relative;
    text-align: center;
    width: 20px;
    height: 20px;
    background: none;
    border:1px solid white;
    margin-top: 60px;
    margin-left: 80px;
    padding: 20px;
    color:white;
   border-radius: 100%;
transition: .2s ease-in-out;
}
.btnDown:hover{
    background: white;

    color:black
}
.hero{
    width: 80vw;
    position: relative;

    display: flex;
    justify-content: space-between;
}
.car1{
    clip-path: polygon(63% 0, 100% 0, 100% 100%, 0% 100%);
    width: 500px;
    height: 500px;
    position: absolute;
    right: -23vw;
top:-40px;
}
/*950 400*/
.car2{
    clip-path: polygon(100% 0, 100% 6%, 77% 100%, 15% 100%, 43% 0);
    width: 950px;
    height: 400px;
position: absolute;

    margin-top: 480px;
    right: -25vw;

}
.car3{
    clip-path: polygon(21% 0, 100% 0, 68% 100%, 0 100%, 0 66%);
    position: absolute;
    width: 1020px;
    height: 500px;
right:200px;
    top:510px;
}
.car4{
    clip-path: polygon(0 0, 100% 0%, 55% 100%, 0% 100%);
    width: 500px;
    height: 400px;
    position: absolute;
    top:1030px;
    left:-100px;
}
.sec-text-after-imgs{
    position: absolute;
    top:1100px;
    right:0;
}
.sec2{
    position: relative;
    top:1300px;

}
.sec-2-text{
    margin-left: 50px;
}
.car5{
    clip-path: polygon(35% 0, 100% 0%, 65% 100%, 0% 100%);
    position: absolute;
    top:150px;
    right: -200px;
width: 1100px;
    height: 500px;
    z-index: 2;
}
.car6{
    position: absolute;
    top:350px;
    clip-path: polygon(37% 0, 100% 0%, 63% 100%, 0% 100%);
    width: 700px;
    height: 350px;
left: 120px;
    z-index: 1;
}

@media (max-width: 1441px) {
    .car5{
        right:-300px;
    }
}
@media (max-width: 1024px) {
    .car1,.car2,.car4,.car6{
        width: 0;
    }
    .sec-main{
        text-align: center;
        position: relative;
        left:50%;
        transform: translate(-40%,60px);
    }
.btnDown{
    margin-left: 250px;
}
.header{

    width: 120vw;
}
    .car3{
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        left:-50px;

        width: 110vw;
    }
    .sec-text-after-imgs{
        position: relative;
        right:30%;
        text-align: left;
        margin-top: 40px;
    }
    .car5{
        top:200px;
        right: -350px;
         }
    .sec-2-text{
        position: relative;
        top:200px;
        width: 300px;
    }
}
@media (max-width: 768px) {
    .car5{
        top:-200px;

        height: 400px;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        left: -30vw;

        width: 145vw;
    }
    .sec-text-after-imgs{
        margin-top: -30px;
    }
    .sec-2-text{
        width: 100%;
        text-align: left;
        top:350px;
left:10%;
    }
}
@media (max-width: 426px) {
    .header{
        width: 350vw;
        margin-left: -20%;
        text-align: left;
    }
    .header-text{
        margin-left: 50px;
    }
    .sec-main{
        left:30%;
        top:-60px;
    }
    .car3{
        height: 350px;
        top:600px;
        width: 130vw;
    }
    .sec-text-after-imgs{
       margin-top: -75px;
       margin-left: -20%;
    }
    .sec-2-text{
        left:-10%;
        font-size:3vw;
    }
}
.footer{
    margin-top:1818px !important;
}