.Custom1 {
  background-image: url(../image/imagesForCustom/ynl_header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
.OverLay1 {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    at 85% 10%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.6) 100%
  );
}
.Custom1-text {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Custom1-text-div1 {
  color: white;
  font-size: 2rem;
}
.Custom1-text-div2 {
  color: white;
  font-size: 5.7rem;
  font-weight: 800;
}
.Custom1-text-btn {
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  border: 2px solid white;
  color: white;
  background: none;
  margin-left: 20px;
}
/* Custom2 */
.MainCustom2 {
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: end;
}
.Custom2 {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.Custom2-text {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Custom2-text-div1 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: rgb(39, 39, 39);
  font-weight: 700;
}
.Custom2-text-div2 {
  font-size: 1rem;
  margin-bottom: 30px;
  color: rgb(39, 39, 39);
  font-weight: 300;
}
.Custom2-text-div3 {
  font-size: 1rem;
  margin-bottom: 30px;
  color: rgb(39, 39, 39);
  font-weight: 300;
}
.Custom2-text-div4 {
  font-size: 1rem;
  margin-bottom: 30px;
  color: rgb(39, 39, 39);
  font-weight: 600;
  border-bottom: 1px solid rgb(36, 36, 36);
  padding: 15px;
  width: 50%;
}
.Custom2-img {
  clip-path: polygon(43% 0, 60% 0, 61% 100%, 0% 100%);
  margin-right: -28%;
  margin-top: 50px;
  width: 65%;
  height: 90%;
  object-fit: cover;
}
/* Custom3 */
.Custom3 {
  width: 100vw;
  height: 80vh;
  position: relative;
}

.Custom3-img1 {
  width: 70%;
  height: 90%;
  position: absolute;
  top: 10%;
  left: -5%;
  clip-path: polygon(32% 0, 97% 0, 61% 100%, 0% 100%);
}
.Custom3-img2 {
  width: 70%;
  height: 80%;
  position: absolute;
  top: 5%;
  left: 43%;
  clip-path: polygon(32% 0, 92% 0, 61% 100%, 0% 100%);
}
/* Custom4 */
.MainCustom4 {
  width: 100vw;
  height: 60vh;
}
.Custom4 {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.Custom4-img {
  clip-path: polygon(0 0, 100% 0%, 55% 100%, 0% 100%);
  margin-top: 20px;
  width: 46%;
  height: 70%;
}
.Custom4-info {
  width: 45%;
  margin-top: 30px;
}
.Custom4-info-div1 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.Custom4-info-div2 {
  font-size: 0.9rem;
  font-weight: 100;
  margin-bottom: 30px;
  line-height: 25px;
}
.Custom4-info-div3 {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  width: 50%;
  font-weight: 700;
}
/* custom5 */
.Custom5 {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.Custom5-info {
  width: 30%;
  position: absolute;
  left: 10%;
  top: 5%;
}
.Custom5-info-div1 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.Custom5-info-div2 {
  font-size: 0.9rem;
  font-weight: 100;
  margin-bottom: 30px;
  line-height: 25px;
}
.Custom5-info-div3 {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  width: 50%;
  font-weight: 700;
}
.Custom5-img1 {
  width: 70%;
  height: 70%;
  clip-path: polygon(32% 0, 97% 0, 61% 100%, 0% 100%);
  position: absolute;
  left: 40%;
  top: 10%;
}
.Custom5-img2 {
  width: 60%;
  height: 50%;
  clip-path: polygon(32% 0, 97% 0, 70% 100%, 0% 100%);
  position: absolute;
  top: 50%;
  right: 50%;
}
