.MainSport1 {
  width: 100vw;
  height: 100vh;
  background-image: url(../image/imagesForMotosport/slide_motorsport_01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: end;
}
.Sport1 {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Sport1-text-div1 {
  font-size: 2rem;
  color: white;
}
.Sport1-text-div2 {
  font-size: 6rem;
  color: white;
  font-weight: 700;
}
.Sport1-text-btn {
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  border: 1px solid white;
  color: white;
  background: none;
}
/* sport2 */
.MainSport2 {
  width: 100vw;
  height: 70vh;
}
.Sport2 {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  margin-top: 100px;
}
.Sport2-text {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.Sport2-news {
  display: flex;
  justify-content: space-between;
}
.Sport2-news1 {
  width: 33%;
  height: 70%;
}
.Sport2-news1-div1 {
  margin: 20px 0;
  font-size: 0.8rem;
  font-weight: 100;
}
.Sport2-news1-div2 {
  margin-bottom: 12%;
  font-size: 1.4rem;
  font-weight: 600;
}
.Sport2-news1-div3 {
  margin-bottom: 5%;
}
.Sport2-news1-img {
  width: 100%;
  height: 70%;
}
.Sport2-news1-btn {
  width: 12rem;
  height: 3rem;
  border: 1px solid rgb(73, 73, 73);
  background: none;
}
/* sport3 */
.Sport3 {
  width: 100vw;
  height: 90vh;
  position: relative;
  background-color: hsl(0, 0%, 95%);
}
.Sport3-img {
  width: 65%;
  height: 90%;
  clip-path: polygon(0 0, 100% 0, 62% 100%, 0 100%);
  position: absolute;
  /* left: 10%; */
}
.Sport3-text {
  width: 30%;
  position: absolute;
  left: 65%;
  top: 25%;
}
.Sport3-text-div1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.Sport3-text-div2 {
  font-size: 0.9rem;
  font-weight: 100;
  line-height: 30px;
}
/* sport4 */
.MainSport4 {
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: end;
}
.Sport4 {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.Sport4-text {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Sport4-text-div1 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: rgb(39, 39, 39);
  font-weight: 700;
}
.Sport4-text-div2 {
  font-size: 1rem;
  margin-bottom: 30px;
  color: rgb(39, 39, 39);
  font-weight: 100;
}

.Sport4-text-div4 {
  font-size: 1rem;
  margin-bottom: 30px;
  color: rgb(39, 39, 39);
  font-weight: 600;
  border-bottom: 1px solid rgb(36, 36, 36);
  padding: 15px;
  width: 50%;
}
.Sport4-img {
  clip-path: polygon(43% 0, 60% 0, 61% 100%, 0% 100%);
  margin-right: -28%;
  margin-top: 50px;
  width: 65%;
  height: 90%;
  object-fit: cover;
}
/* sport5 */
.Sport5 {
  width: 100vw;
  height: 80vh;
  position: relative;
}

.Sport5-img1 {
  width: 70%;
  height: 90%;
  position: absolute;
  top: 10%;
  left: -5%;
  clip-path: polygon(32% 0, 97% 0, 61% 100%, 0% 100%);
}
.Sport5-img2 {
  width: 70%;
  height: 80%;
  position: absolute;
  top: 5%;
  left: 43%;
  clip-path: polygon(32% 0, 92% 0, 61% 100%, 0% 100%);
}
/* sport6 */
.MainSport6 {
  width: 100vw;
  height: 60vh;
}
.Sport6 {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.Sport6-img {
  clip-path: polygon(0 0, 100% 0%, 55% 100%, 0% 100%);
  margin-top: 20px;
  width: 46%;
  height: 70%;
}
.Sport6-info {
  width: 45%;
  margin-top: 30px;
}
.Sport6-info-div1 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.Sport6-info-div2 {
  font-size: 0.9rem;
  font-weight: 100;
  margin-bottom: 30px;
  line-height: 25px;
}
.Sport6-info-div3 {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  width: 50%;
  font-weight: 700;
}
/* sport7 */
.Sport7 {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.Sport7-info {
  width: 30%;
  position: absolute;
  left: 10%;
  top: 5%;
}
.Sport7-info-div1 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.Sport7-info-div2 {
  font-size: 0.9rem;
  font-weight: 100;
  margin-bottom: 30px;
  line-height: 25px;
}
.Sport7-info-div3 {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  width: 50%;
  font-weight: 700;
  margin-bottom: 20px;
}
.Sport7-img1 {
  width: 70%;
  height: 70%;
  clip-path: polygon(32% 0, 97% 0, 61% 100%, 0% 100%);
  position: absolute;
  left: 40%;
  top: 10%;
}
.Sport7-img2 {
  width: 60%;
  height: 50%;
  clip-path: polygon(32% 0, 97% 0, 70% 100%, 0% 100%);
  position: absolute;
  top: 50%;
  right: 50%;
}
/* sport8 */
.Sport8 {
  width: 100vw;
  height: 90vh;
  position: relative;
}
.Sport8-img {
  width: 90%;
  height: 100%;
  clip-path: polygon(40% 0, 100% 0%, 78% 100%, 10% 100%);
  position: absolute;
  /* left: 10%; */
  left: 30%;
}
.Sport8-text {
  width: 30%;
  position: absolute;
  left: 10%;
  top: 25%;
}
.Sport8-text-div1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.Sport8-text-div2 {
  font-size: 0.9rem;
  font-weight: 100;
  line-height: 30px;
  margin-bottom: 30px;
}
.Sport8-text-div3 {
  font-size: 1rem;
  font-weight: 700;
  border-bottom: 1px solid rgb(59, 59, 59);
  padding-bottom: 10px;
  width: 70%;
}
/* part */
.partners {
  width: 100vw;
  height: 50vh;
  position: relative;
  text-align: center;
  background-color: rgb(243, 243, 243);
}
.partners-text {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.8);
}
.partners-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  left: 50%;
  transform: translate(-35%, 20px);

  margin-top: 50px;
}
.box-top {
  display: flex;
  align-items: center;
  gap: 20px;
}
.box-bottom {
  display: flex;
  align-items: center;
  gap: 20px;
}
.imgTop {
  width: 32%;
}
.imgBottom {
  width: 20%;
}
.imgBottom:nth-child(4) {
  width: 15%;
}
.imgBottom:nth-child(3) {
  width: 19%;
}
