.mus1 {
  width: 100vw;
  height: 100vh;
}
.slick-dots {
  top: 110% !important;
  right: 30% !important;
}
.mus1-slider {
  width: 100%;
  height: 70% !important;
}
.slick-track {
  height: 100vh !important;
}
.mus1-slider-header {
  width: 100%;
  height: 50%;
  position: relative;
}
.mus1-slider-header-img {
  width: 100%;
  height: 40%;
}
.mus1-slider-header-text {
  position: absolute;
  color: white;
  top: 30%;
  left: 10%;
}
.mus1-slider-header-text-div1 {
  font-size: 2vmax;
  font-weight: 500;
}
.mus1-slider-header-text-div2 {
  font-size: 8vmax;
  font-weight: 300;
  font-weight: 700;
}
.slick-dots li button:before {
  content: "-" !important;
  font-size: 12vmax !important;
  color: white !important;
}
.slick-dots li {
  width: 50px !important;
}
/* mus2 */
.Mainmus2 {
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: end;
}
.mus2 {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.mus2-text {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mus2-text-div1 {
  font-size: 2.5vmax;
  margin-bottom: 30px;
  color: rgb(39, 39, 39);
  font-weight: 700;
}
.mus2-text-div2 {
  font-size: 1.2vmax;
  margin-bottom: 30px;
  color: rgb(39, 39, 39);
  font-weight: 300;
}
.mus2-text-div3 {
  font-size: 1.2vmax;
  margin-bottom: 30px;
  color: rgb(39, 39, 39);
  font-weight: 300;
}
.mus2-text-div4 {
  font-size: 1.2vmax;
  margin-bottom: 30px;
  color: rgb(39, 39, 39);
  font-weight: 600;
  border-bottom: 1px solid rgb(36, 36, 36);
  padding: 15px;
  width: 50%;
}
.mus2-img {
  clip-path: polygon(43% 0, 60% 0, 61% 100%, 0% 100%);
  margin-right: -28%;
  margin-top: 50px;
  width: 65%;
  height: 90%;
  object-fit: cover;
}
/* mus3 */
.mus3 {
  width: 100vw;
  height: 80vh;
  position: relative;
}

.mus3-img1 {
  width: 70%;
  height: 90%;
  position: absolute;
  top: 10%;
  left: -5%;
  clip-path: polygon(32% 0, 97% 0, 61% 100%, 0% 100%);
}
.mus3-img2 {
  width: 70%;
  height: 80%;
  position: absolute;
  top: 5%;
  left: 43%;
  clip-path: polygon(32% 0, 92% 0, 61% 100%, 0% 100%);
}
/* mus4 */
.Mainmus4 {
  width: 100vw;
  height: 60vh;
}
.mus4 {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.mus4-img {
  clip-path: polygon(0 0, 100% 0%, 55% 100%, 0% 100%);
  margin-top: 20px;
  width: 46%;
  height: 70%;
}
.mus4-info {
  width: 45%;
  margin-top: 30px;
}
.mus4-info-div1 {
  font-size: 1.5vmax;
  font-weight: 700;
  margin-bottom: 30px;
}
.mus4-info-div2 {
  font-size: 1.2vmax;
  font-weight: 100;
  margin-bottom: 30px;
  line-height: 25px;
}
.mus4-info-div3 {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  width: 50%;
  font-weight: 700;
}
/* mus5 */
.Mainmus5 {
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: end;
}
.mus5 {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.mus5-text {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mus5-text-div1 {
  font-size: 2vmax;
  margin-bottom: 30px;
  color: rgb(39, 39, 39);
  font-weight: 700;
}
.mus5-text-div2 {
  font-size: 1.2vmax;
  margin-bottom: 30px;
  color: rgb(39, 39, 39);
  font-weight: 300;
}
.mus5-text-div3 {
  font-size: 1.2vmax;
  margin-bottom: 30px;
  color: rgb(39, 39, 39);
  font-weight: 300;
}
.mus5-text-div4 {
  font-size: 1.6vmax;
  margin-bottom: 30px;
  color: rgb(39, 39, 39);
  font-weight: 600;
  border-bottom: 1px solid rgb(36, 36, 36);
  padding: 15px;
  width: 50%;
}
.mus5-img {
  clip-path: polygon(43% 0, 60% 0, 61% 100%, 0% 100%);
  margin-right: -28%;
  margin-top: 50px;
  width: 65%;
  height: 90%;
  object-fit: cover;
}
/* mus6 */
.mus6 {
  width: 100vw;
  height: 80vh;
  position: relative;
}

.mus6-img1 {
  width: 70%;
  height: 90%;
  position: absolute;
  top: 10%;
  left: -5%;
  clip-path: polygon(32% 0, 97% 0, 61% 100%, 0% 100%);
}
.mus6-img2 {
  width: 70%;
  height: 80%;
  position: absolute;
  top: 5%;
  left: 43%;
  clip-path: polygon(32% 0, 92% 0, 61% 100%, 0% 100%);
}
/* mus7 */
.Mainmus7 {
  width: 100vw;
  height: 60vh;
}
.mus7 {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.mus7-img {
  clip-path: polygon(0 0, 100% 0%, 55% 100%, 0% 100%);
  margin-top: 20px;
  width: 46%;
  height: 70%;
}
.mus7-info {
  width: 45%;
  margin-top: 30px;
}
.mus7-info-div1 {
  font-size: 2vmax;
  font-weight: 700;
  margin-bottom: 30px;
}
.mus7-info-div2 {
  font-size: 1.2vmax;
  font-weight: 100;
  margin-bottom: 30px;
  line-height: 25px;
}
.mus7-info-div3 {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  width: 50%;
  font-weight: 700;
}
/* mus8 */
.mus8 {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.mus8Main {
  width: 100%;
  height: 100%;
}
.mus8Swiper {
  height: 95%;
}
.mus8test {
  height: 20%;
}
.mus8-img {
  height: 40%;

  width: 100%;
}
.mus8-info-btn-prev {
  position: absolute;
  top: 40%;
  left: 2%;
  width: 3rem;
  height: 3rem;
  border: 3px solid white;
  color: white;
  background: none;
  border-radius: 50px;
  z-index: 77;
  -webkit-transition: 0.6s ease; /* Safari and Chrome */
  -moz-transition: 0.6s ease; /* Firefox 4 */
  -o-transition: 0.6s ease; /* Opera */
}
.mus8-info-btn-next {
  position: absolute;
  top: 40%;
  right: 5%;
  width: 3rem;
  height: 3rem;
  border: 3px solid white;
  color: white;
  background: none;
  border-radius: 50px;
  z-index: 77;
  -webkit-transition: 0.6s ease; /* Safari and Chrome */
  -moz-transition: 0.6s ease; /* Firefox 4 */
  -o-transition: 0.6s ease; /* Opera */
}
.mus8-info-btn-next:hover {
  background-color: black;
  border: 1px solid white;
}
.mus8-info-btn-prev:hover {
  background-color: black;
  border: 1px solid white;
}
/* mus9 */
.Mainmus9 {
  width: 100vw;
  height: 50vh;
  background-color: rgb(239, 239, 239);
}
.mus9 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.mus9-right {
  width: 70vw;
  height: 50vh;
}
.leaflet-container {
  height: 100%;
  width: 100%;
}
.leaflet-touch-zoom {
  margin: 0 !important;
}
.mus9-left-div1 {
  font-size: 1.5vmax;
  font-weight: 700;
  margin-bottom: 20px;
}
.mus9-left-div2 {
  font-size: 1.5vmax;
  font-weight: 100;
  margin-top: 15px;
}
.mus9-left-div3 {
  display: flex;
  margin-top: 30px;
  align-items: center;
}
.mus9-left-div3-btn {
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  background: none;
  border: 1px solid black;
}
.mus9-left-div3-text {
  font-size: 1.2vmax;
  font-weight: 100;
  margin-left: 20px;
}
/* mus10 */
.Mainmus10 {
  width: 100vw;
}
.mus10 {
  width: 90%;
  margin: 0 auto;
}
.mus10-main {
  display: flex;
  justify-content: space-between;
}
.mus10-right {
  width: 50%;
}
.mus10-text {
  font-size: 2vmax;
  font-weight: 800;
  margin: 30px 0;
  color: rgb(47, 47, 47);
}
.mus10-info1 {
  font-size: 2vmax;
  font-weight: 700;
  color: rgb(47, 47, 47);
}
.mus10-info2 {
  font-size: 1.2vmax;
  font-weight: 100;
  color: rgb(47, 47, 47);
}
/* mus11 */
.mus11 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100vw;
  background-color: rgb(238, 238, 238);
  padding-top: 30px;
}
@media all and (max-width: 425px) {
  .mus2-text-div1 {
    margin-bottom: 5px;
  }
  .mus2-text-div2 {
    margin-bottom: 5px;
  }
  .mus2-text-div3 {
    margin-bottom: 5px;
  }
  .mus2-text-div4 {
    margin-bottom: 5px;
  }
  .mus3 {
    display: none;
  }
  .mus4-info-div2 {
    line-height: 10px;
  }
  .mus5-text-div1 {
    margin-bottom: 5px;
  }
  .mus5-text-div2 {
    margin-bottom: 5px;
  }
  .mus5-text-div3 {
    margin-bottom: 5px;
  }
  .mus5-text-div4 {
    margin-bottom: 5px;
  }
  .mus6 {
    display: none;
  }
}
