.AddProduct {
  width: 100vw;
  height: 100vh;
  background-image: url(../CompImg/AdminPage/13966043_lamborghini-countach.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.AddOver {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}
.Add-text {
  font-size: 2vmax;
  font-weight: 800;
}
.Add-box {
  width: 50%;
  background-color: white;
  padding: 3%;
  border-radius: 20px;
}
#file-upload-button {
  width: 100px !important;
  height: 100px !important;
  background-color: black !important;
}
@media all and (max-width: 425px) {
  .Add-box {
    width: 90%;
  }
}
