.EditProduct {
  width: 100vw;
  height: 100vh;
  background-image: url(../CompImg/EditProduct/chris_diablo_cover.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
.EditOver {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}
.Edit-text {
  font-size: 2vmax;
  font-weight: 800;
}
.Edit-box {
  width: 50%;
  background-color: white;
  padding: 3%;
  border-radius: 20px;
}
#file-upload-button {
  width: 100px !important;
  height: 100px !important;
  background-color: black !important;
}
@media all and (max-width: 425px) {
  .Edit-box {
    width: 90%;
  }
}
