.Details {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Details-block {
  width: 80%;
  height: 70%;
}
.Details-title {
  font-size: 8vmax;
  font-weight: 800;
}
.Details-cat {
  font-size: 1.2vmax;
  font-weight: 800;
}
.Details-price {
  font-size: 1.2vmax;
  font-weight: 800;
}
.Details-desc {
  font-size: 1.2vmax;
  width: 60%;
  color: white;
  font-weight: 800;
  background-color: rgb(47, 47, 47);
  padding: 10px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.comments {
  font-size: 1.6vmax;
  font-weight: 500;
}
